## 1. IMPORT LIBRARY

In [1]:
import pandas as pd
import os
import re
from IPython.display import HTML

df = pd.read_excel('./export/invalid_data.xlsx')
HTML(df.head(20).to_html())

## 2. CAL INVALID DATA

### 2.1 Create Date Column

In [2]:
df['DATE'] = df[('START_TIME')].dt.date

HTML(df.head().to_html())

### 2.2 Sort Data

In [3]:
df = df.sort_values(by=['PALS_ID', 'DATE', 'START_TIME'])
HTML(df.head().to_html())

### 2.3 MERGE DATA AND GET THE FIRST CELL

In [4]:
df_first_course = df.groupby(['PALS_ID', 'FULLNAME', 'DATE'])['DURATION'].max().reset_index()
HTML(df_first_course.head(20).to_html())

### 2.4 MERGE DATA AND CAL THE SUM

In [5]:
result = df_first_course.groupby(['PALS_ID', 'FULLNAME'])['DURATION'].sum().reset_index()
df2_sum = result
HTML(df2_sum.head(20).to_html())

## 3. MERGE INTO VALID DATA

### 3.1 Import Valid Data

In [6]:
df1_sum = pd.read_excel('./export/final/valid_report.xlsx')
HTML(df1_sum.head(20).to_html())

In [7]:
# Hợp nhất df1_sum và df2_sum dựa trên PALS_ID
df_merged = pd.merge(df1_sum, df2_sum, on='PALS_ID', how='outer', suffixes=('_df1', '_df2'))
HTML(df_merged.head(10).to_html())

In [8]:
# Tạo cột 'TOTAL_DURATION' bằng cách cộng 'DURATION_df1' và 'DURATION_df2'
df_merged['TOTAL_DURATION'] = df_merged['DURATION_df1'].fillna(0) + df_merged['DURATION_df2'].fillna(0)
HTML(df_merged.head(10).to_html())

In [9]:
# Chọn các cột 'PALS_ID' và 'TOTAL_DURATION'
final = df_merged[['PALS_ID', 'FULLNAME_df1' ,'TOTAL_DURATION']]

final.rename(columns={
    "FULLNAME_df1": "FULLNAME"
}, inplace=True)
HTML(final.head(10).to_html())

C:\Users\quochoang\AppData\Local\Temp\ipykernel_10244\4274393257.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={

In [10]:
final.to_excel("./export/final/total_check_max_session.xlsx")
print("SAVE FILE SUCCESSFULLY!")

SAVE FILE SUCCESSFULLY!