## 1. IMPORT LIBRARY

In [1]:
import pandas as pd
import os
import re
from IPython.display import HTML

df = pd.read_excel('./export/invalid_data.xlsx')
HTML(df.head(20).to_html())

## 2. MERGE DATA

In [2]:
merged_df = (
    df.groupby(["PALS_ID", "FULLNAME"])["DURATION"].sum().reset_index()
)

HTML(merged_df.head(20).to_html())

## 3. SAVE FILE

In [4]:
merged_df.to_excel("./export/final/invalid_report.xlsx")
print("SAVE FILE SUCCESSFULLY!")

SAVE FILE SUCCESSFULLY!